<table *ngIf="example">
    <thead>
        <tr>
            <th colspan="2">Example Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Example ID</td>
            <td>{{ example.exampleId }}</td>
        </tr>
        <tr>
            <td>Example Characteristic</td>
            <td>{{ example.exampleCharacteristic }}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!example">{{ statusMessage }}</div>
<br />
<div *ngIf="example && example.exampleId">
    <input type="button" value="Edit Example" (click)="onEditExampleButtonClick(example.exampleId)" />
</div>
<div>
    <input type="button" value="Back To Example List" (click)="onBackButtonClick()" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" value="Cancel The Request" (click)="onCancelButtonClick()" />
</div>