<user-count *ngIf="users" [all]="getTotalUserCount()"
               [justOne]="getTotalUsersOneCount()"
               [lessThanOne]="getTotalUsersLessThanOneCount()"
               (countRadioButtonSelectionChanged)="onUserCountRadioButtonChange($event)">
</user-count>
<br /><br />
<table>
    <thead>
        <tr>
            <th>User Id</th>
            <th>User String</th>
            <th>User Number</th>
        </tr>
    </thead>
    <tbody>
        <!--    Accordion (or Extension Panel things) are just basically using a HIDDEN css styling class that gets added/removed toggle-based. A [hidden] property binding thing MAY exist out of the box  -->
        <!--        Furthermore, content project (single-slot or multi-slot) may be used as transclusion to refactor the accordion so it may be used as a reusable source by any component that wishes to use it. This uses <ng-content>    -->
        <!--        It should be nonted that the <ng-content> element can be used for any situation of reusable UI HTML elements if needed  -->
        <ng-container *ngFor="let user of filteredUsers">
            <tr *ngIf="selectedUserCountRadioButton == 'All' || selectedUserCountRadioButton == user.userName">
                <!--    below, we want to bind to the input property inside the "UserListDisplayComponent" component called 'exampmles' (in straight brackets) by passing the users object of the userss set-->
                <list-display-user [user]="user" [userId]="user.email"></list-display-user> <!--Parent to Child data passing example-->
                <!--    Styling is going to be crap, but it's just an example anyway. MOST styles'd be in Stylus (OR, some projects won't have Stylus, so just know that the Tables are in differnt html files, which causes style issues)-->
            </tr>
        </ng-container>
        <tr *ngIf="!users">
            <td colspan="6">{{ statusMessage }}</td>
        </tr>
        <tr *ngIf="users && users.length == 0">
            <td colspan="6">No Orders to Display</td>
        </tr>
    </tbody>
</table>
<div *ngIf="showSpinner" class="spinner"></div>
<br />
<div>
    Color Preference : <input type='text' [(ngModel)]='color' [style.background]='color' />
</div>