<table *ngIf="user">
    <thead>
        <tr>
            <th colspan="2">User Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>UserName</td>
            <td>{{ user.userName }}</td>
        </tr>
        <tr>
            <td>User First Name</td>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <td>User Last Name</td>
            <td>{{ user.lastName }}</td>
        </tr>
        <!-- Not Entirely sure the code, just below, has any use for the reactive for, or if it's just for the other form version (i.e. RegisterForm)-->
        <!-- <ng-container *ngFor="let eArray of User.UserArray">                -->
            <!-- <tr> -->
                <!-- <td>{{eArray.dynamicNestedGroupName}}</td> -->
                <!-- <td>Experience ({{ eArray.dynamicExperienceInYears }})</td> -->
            <!-- </tr> -->
            <!-- <tr *ngIf="selectedUserCountRadioButton == 'All' || selectedUserCountRadioButton == user.userName"> -->
                <!--    below, we want to bind to the input property inside the "userListDisplayComponent" component called 'users' (in straight brackets) by passing the user object of the users set-->
                <!-- <list-display-user [User]="user" [UserId]="user.email"></list-display-user>-->
                    <!--^^ Parent to Child data passing example -->
                <!--    Styling is going to be crap, but it's just an example anyway. MOST styles'd be in Stylus (OR, some projects won't have Stylus, so just know that the Tables are in differnt html files, which causes style issues)-->
            <!-- </tr> -->
        <!-- </ng-container> -->
    </tbody>
</table>
<div *ngIf="!user">{{ statusMessage }}</div>
<br />
<div *ngIf="user && user.userName">
    <input type="button" value="Edit User" (click)="onEditButtonClick(user.userName)" />
</div>
<div>
    <input type="button" value="Back To Users List" (click)="onBackButtonClick()" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" value="Cancel The Request" (click)="onCancelButtonClick()" />
</div>