<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		<div class="name-description">
			<span>Enrico Espina - Combat Ninja <i style="font-family: times;">(ret.)</i>
			</span>
		</div>

		<button class="navbar-toggler" type="button" (click)="toggleNavbar_click()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collase" [ngClass]="{ 'show': navbarOpen }">
			<!-- <ul class="nav-right-list"></ul> -->
			<ul class="navbar-nav mr-auto" [ngClass]="{ 'mr-auto-not-working': !isMobile() }">
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="/examples" routerLinkActive="active" class="navbar-link">Examples</a>
					<!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="examples/reactiveForm/0" routerLinkActive="active">Reactive Form Example</a>
				</li>
				<!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryExampleRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>-->
				<!-- The above uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="examples/register" routerLinkActive="active">Template-Driven Form Example</a>
				</li>
				<!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a id="loginLogoutPlaceholder" (click)="loginOrOutUser()">{{LogInOrLogOut}}</a>
				</li>
			</ul>
		</div>
	</nav>
</header>