//<!--depracated, NOTHING in this file is being used (just reference, and can/should be deleted in a real project-->
<div class="navbar-top" *ngIf="isLoggedIn">
    <div class="navbar-collase" [ngClass]="{ 'show': navbarOpen }">
        <ul>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
            </li>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/examples" routerLinkActive="active" class="navbar-link">Examples</a>
            </li>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="examples/reactiveForm/0" routerLinkActive="active">Reactive Form Example</a>
            </li>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="examples/register" routerLinkActive="active">Template-Driven Form Example</a>
            </li>
        </ul>
    </div>
</div>
