<header>
    <nav *ngIf="isLoggedIn" [ngClass]="isMobile() ? 'navbar navbar-expand-lg navbar-dark bg-dark' : navbarOpen ? 'sideNav-closed' : 'sidenav' ">
		<div class="name-description" [ngClass]="{ 'hide': !isMobile() }">
			<span>Enrico Espina - Combat Ninja <i style="font-family: times;">(ret.)</i></span>
		</div>
		<button [ngClass]="isMobile() ? 'navbar-toggler' : 'closebtn'" type="button" (click)="toggleNavbar_click()">
			<span [ngClass]="{ 'navbar-toggler-icon': isMobile() }"><i [ngClass]="isMobile() ? 'hide' : navbarOpen ? 'arrow right' : 'arrow left'"></i></span>
		</button>
		<div class="navbar-collase" [ngClass]="{ 'hide': navbarOpen }">
			<ul class="navbar-nav mr-auto" (click)="isMobile() ? navbarOpen = !navbarOpen : navbarOpen = navbarOpen">
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="/home" routerLinkActive="active">Home</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="/users" routerLinkActive="active">Users</a>
					<!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes NOT BEING USED-->
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="users/reactiveForm/0" routerLinkActive="active">Reactive Form User</a>
				</li>
				<!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryuserRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li> NOT BEING USED-->
				<!-- The above uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD) NOT BEING USED-->
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="users/register" routerLinkActive="active">Template-Driven Form User</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="nested-users" routerLinkActive="active">Nested Users</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="/examples" routerLinkActive="active">Examples</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" routerLink="examples/example-reactive-form/0" routerLinkActive="active">Create Example</a>
				</li>
				<!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes NOT BEING USED-->
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a class="linkCrappyAndDirtyVersion" (click)="loginOrOutUser()">{{LogInOrLogOut}}</a>
				</li>
			</ul>
		</div>
	</nav>

	<!--BELOW is the area for using NON-side navigation with-->
	
	<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		<div class="name-description">
			<span>Enrico Espina - Combat Ninja <i style="font-family: times;">(ret.)</i>
			</span>
		</div>

		<button class="navbar-toggler" type="button" (click)="toggleNavbar_click()">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collase" [ngClass]="{ 'show': navbarOpen }"> -->
			<!--(COMMENTED LINE)  <ul class="nav-right-list"></ul> -->
			<!-- <ul class="navbar-nav mr-auto" [ngClass]="{ 'mr-auto-not-working': !isMobile() }">
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
				</li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="/users" routerLinkActive="active" class="navbar-link">Users</a> -->
					<!--(COMMENTED LINE) [routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
				<!-- </li>
				<li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="users/reactiveForm/0" routerLinkActive="active">Reactive Form User</a>
				</li> -->
				<!--(COMMENTED LINE) <li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryuserRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>-->
				<!--(COMMENTED LINE)  The above uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
				<!-- <li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="users/register" routerLinkActive="active">Template-Driven Form User</a>
				</li> -->
				<!-- <li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a routerLink="examples/example" routerLinkActive="active">Examples (NOT TESTED)</a>
				</li> -->
				<!--(COMMENTED LINE) [routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
				<!-- <li routerActive="bootstrap-mimic-active" class="navbar-item">
					<a id="loginLogoutPlaceholder" (click)="loginOrOutUser()">{{LogInOrLogOut}}</a>
				</li>
			</ul>
		</div>
	</nav> -->
	<!--ABOVE is the area for using NON-side navigation with-->

	<div class="warning-row" [hidden]="isCookieEnabled">
		<h3>Cookie's are NOT enabled, Just an FYI</h3>
	</div>
</header>