<table *ngIf="example">
    <thead>
        <tr>
            <th colspan="2">Example Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>UserName</td>
            <td>{{ example.userName }}</td>
        </tr>
        <tr>
            <td>Example First Name</td>
            <td>{{ example.firstName }}</td>
        </tr>
        <tr>
            <td>Example Last Name</td>
            <td>{{ example.lastName }}</td>
        </tr>
        <ng-container *ngFor="let eArray of example.exampleArray">                
            <tr>
                <td>{{eArray.dynamicNestedGroupName}}</td>
                <td>Experience ({{ eArray.dynamicExperienceInYears }})</td>
            </tr>
            <tr *ngIf="selectedExampleCountRadioButton == 'All' || selectedExampleCountRadioButton == example.userName">
                <!--    below, we want to bind to the input property inside the "ExampleListDisplayComponent" component called 'exampmles' (in straight brackets) by passing the example object of the examples set-->
                <list-display-example [example]="example" [exampleId]="example.email"></list-display-example> <!--Parent to Child data passing example-->
                <!--    Styling is going to be crap, but it's just an example anyway. MOST styles'd be in Stylus (OR, some projects won't have Stylus, so just know that the Tables are in differnt html files, which causes style issues)-->
            </tr>
        </ng-container>
    </tbody>
</table>
<div *ngIf="!example">{{ statusMessage }}</div>
<br />
<div *ngIf="example && example.userName">
    <input type="button" value="Edit Example" (click)="onEditButtonClick(example.userName)" />
</div>
<div>
    <input type="button" value="Back To Examples List" (click)="onBackButtonClick()" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" value="Cancel The Request" (click)="onCancelButtonClick()" />
</div>