 <!--<responsive-app-navbar></responsive-app-navbar>    put the 'responsive-app-navbar' element Here for the NON-side-nav version -->
<!-- <app-header></app-header> --><!-- to the left, is the OLD way of using the hamburger button things-->
<div id="displayArea">
    <responsive-app-navbar></responsive-app-navbar>    <!--    put the 'responsive-app-navbar' element Here for the NON-side-nav version -->
    <!-- <navbar-top></navbar-top>     This is going to be on a parent-child level where the menu, which would be of the same classes/styles, would only be viewable within the parent. Meaning each parent would probably have its own nav    -->
    <router-outlet></router-outlet>
    <!--<router-outlet name="secondaryExampleRouterOutlet"></router-outlet>-->
</div>
<app-footer></app-footer>

<!--with the courage of Angualr, this may not be necessary anymore (it's probably still Gulp'ing)-->
<script type="text/javascript" src="/static/dist/js/scripts.min.js"></script>
